body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 1.5rem;
  color: #666;
  font-weight: bold;
}
ul {
  list-style-type: none;
}

// ? Basic Variable
@small-margin: 0.5rem;
@medium-margin: 0.75rem;
@largin-margin: 1rem;

// ? Basic Classes
.common-small-margin-top {
  margin-top: @small-margin;
}
.common-medium-margin-top {
  margin-top: @medium-margin;
}


.admin-content {
  background-color: #eee9df;
}
.resume-partial-same-wrapper {
  padding: 0.9375rem 0 3.75rem;
  text-align: center;
  background-image: url(../images/resume_partial_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

// 个人简介
.partial-self-introduction-box {
  .self-introduction-avatar-box {
    .introduction-avatar-content {
      width: 4rem;
      height: 4rem;
      margin: 0 auto;
      border-radius: 50%;
      background-image: url(../images/miaomiao.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  .self-introduction-info-box {
    .self-introduction-info-content {
      padding: 1.25rem 0;
      .introduction-info-same {
        display: flex;
        margin: 0.25rem 0;
      }
      .info-col-left-same {
        flex: 1;
        text-align: right;
        font-weight: bold;
        font-size: 1.125rem;
      }
      .info-col-right-same {
        flex: 1;
        padding-left: 3.125rem;
        text-align: left;
        font-size: 1rem;
      }
    }
  }
}

// 项目经历
.partial-project-experience-box {
  height: 100%;
  padding: 3.75rem 2.6875rem 10.625rem 2.6875rem;

  .project-experience-content {
    margin-top: 0.625rem;
    .experience-content-list-item-same {
      margin-top: 0.5rem;
      padding: 0.5rem 0;
      border-bottom: 0.125rem solid #ccc;
    }
    .item-project-name-same {
      color: #444;
      cursor: pointer;
      &:hover {
        color: #1890ff;
        text-decoration: underline;
      }
    }
    .item-project-description-same {
      text-align: left;
    }
    .item-project-address-same {
      text-align: left;
    }
    .item-project-skill-same {
      text-align: left;
    }
    .item-project-review-same {
      text-align: left;
    }
    .project-text-same {
      font-size: 0.875rem;
      color: #444;
    }
  }
}

// 掌握技能
.partial-grasp-skill-box {
  height: 100%;
  padding: 3.75rem 3.75rem 6.5625rem 4.25rem;
  .grasp-skill-content {
    margin-top: 1.875rem;
  }
  .grasp-skill-content-list {
    .grasp-skill-content-item {
      text-align: left;
      margin-top: 0.5rem;
    }
    .grasp-skill-content-text {
      font-size: 0.875rem;
      color: #444;
    }
  }
}

// 求职意向
.partial-career-objective-box {
  height: 100%;
  padding: 3.75rem 1.25rem 6.5625rem 3.125rem;
  .career-objective-content {
    padding-left: 1.25rem;
  }
  .career-objective-content-list {
    .career-objective-content-item {
      text-align: left;
      margin-top: 1.875rem;
    }
    .career-objective-content-label {
      font-size: 1.25rem;
    }

  }
}