body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 24px;
  color: #666;
  font-weight: bold;
}
ul {
  list-style-type: none;
}
.admin-content {
  background-color: #eee9df;
}
.resume-partial-same-wrapper {
  padding: 15px 0 60px;
  text-align: center;
  background-image: url(../images/resume_partial_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.partial-self-introduction-box .self-introduction-avatar-box .introduction-avatar-content {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url(../images/miaomiao.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.partial-self-introduction-box .self-introduction-info-box .self-introduction-info-content {
  padding: 20px;
}
.partial-self-introduction-box .self-introduction-info-box .self-introduction-info-content .introduction-info-same {
  display: flex;
  margin: 4px 0;
}
.partial-self-introduction-box .self-introduction-info-box .self-introduction-info-content .info-col-left-same {
  flex: 1;
  text-align: right;
  font-weight: bold;
  font-size: 18px;
}
.partial-self-introduction-box .self-introduction-info-box .self-introduction-info-content .info-col-right-same {
  flex: 1;
  padding-left: 50px;
  text-align: left;
  font-size: 16px;
}
.partial-project-experience-box {
  height: 100%;
  padding: 60px 20px 105px 24px;
}
.partial-project-experience-box .project-experience-content {
  margin-top: 10px;
}
.partial-project-experience-box .project-experience-content .experience-content-list-item-same {
  margin-top: 8px;
  padding: 8px 0;
  border-bottom: 2px solid #ccc;
}
.partial-project-experience-box .project-experience-content .item-project-name-same {
  color: #444;
  cursor: pointer;
}
.partial-project-experience-box .project-experience-content .item-project-name-same:hover {
  color: #1890ff;
  text-decoration: underline;
}
.partial-project-experience-box .project-experience-content .item-project-description-same {
  text-align: left;
}
.partial-project-experience-box .project-experience-content .item-project-address-same {
  text-align: left;
}
.partial-project-experience-box .project-experience-content .item-project-skill-same {
  text-align: left;
}
.partial-project-experience-box .project-experience-content .item-project-review-same {
  text-align: left;
}
.partial-project-experience-box .project-experience-content .project-text-same {
  font-size: 14px;
  color: #444;
}
.partial-grasp-skill-box {
  height: 100%;
  padding: 60px 20px 105px 30px;
}
.partial-grasp-skill-box .grasp-skill-content {
  margin-top: 30px;
}
.partial-grasp-skill-box .grasp-skill-content-list .grasp-skill-content-item {
  text-align: left;
  margin-top: 8px;
}
.partial-grasp-skill-box .grasp-skill-content-list .grasp-skill-content-text {
  font-size: 14px;
  color: #444;
}
.partial-career-objective-box {
  height: 100%;
  padding: 60px 20px 105px 30px;
}
.partial-career-objective-box .career-objective-content {
  padding-left: 20px;
}
.partial-career-objective-box .career-objective-content-list .career-objective-content-item {
  text-align: left;
  margin-top: 30px;
}
.partial-career-objective-box .career-objective-content-list .career-objective-content-label {
  font-size: 20px;
}
